<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Mars Rover API App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>

<div class="container">
    <h2>Welcome to the Mars Rover API Web App</h2>

    <form method="get" action="" id="frmRoverType">
        <input type="hidden" th:field="${homeDto.marsApiRoverData}" />
        <div class="btn-group btn-group-lg" role="group" style="margin: 2em 0em;">
            <button type="button" class="btn btn-secondary" id="marsApiCuriosity">Curiousity</button>
            <button type="button" class="btn btn-secondary" id="marsApiOpportunity">Opportunity</button>
            <button type="button" class="btn btn-secondary" id="marsApiSpirit">Spirit</button>
        </div>
                <div th:if="${homeDto.marsApiRoverData == 'opportunity' || homeDto.marsApiRoverData == ''}">
                    <div th:text="${validCameras.get('opportunity)}"></div>
                </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" id="cameraFhaz1"  type="checkbox" th:field="${homeDto.cameraFhaz}"
                           th:attr="disabled=${#lists.contains(validCameras, 'FHAZ')? 'disabled' : 'false'}">
                    <label class="form-check-label" for="cameraFhaz1">
                        Front Hazard Avoidance Camera
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input"  type="checkbox" th:field="${homeDto.cameraRhaz}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'RHAZ')? 'disabled' : 'false'}">
                    <label class="form-check-label" for="cameraRhaz1">
                        Rear Hazard Avoidance Camera
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input"  type="checkbox" th:field="${homeDto.cameraMast}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MAST')? 'disabled' : 'false'}">
                    <label class="form-check-label" for="cameraMast1">
                        Mast Camera
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input"  type="checkbox" th:field="${homeDto.cameraChemcam}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'CHEMCAM')? 'disabled' : 'false'}">
                    <label class="form-check-label" for="cameraChemcam1">
                        Chemistry and Camera Complex
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMahli}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MAHLI')? 'disabled' : 'false'}">
                    <label class="form-check-label" for="cameraMahli1">
                        Mars Hand Lens Imager
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input"  type="checkbox" th:field="${homeDto.cameraMardi}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MARDI')? 'disabled' : 'false'}">
                    <label class="form-check-label" for="cameraMardi1">
                        Mars Descent Imager
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input"  type="checkbox" th:field="${homeDto.cameraNavcam}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'NAVCAM')? 'disabled' : 'false'}">
                    <label class="form-check-label" for="cameraNavcam1">
                        Navigation Camera
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraPancam}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'PANCAM')? 'disabled' : 'false'}">
                    <label class="form-check-label" for="cameraPancam1">
                        Panoramic Camera
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <input class="form-check-input"  type="checkbox" th:field="${homeDto.cameraMinites}"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MINITES')? 'disabled' : 'false'}">
                    <label class="form-check-label" for="cameraMinites1">
                        Miniature Thermal Emission Spectrometer (Mini-TES)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label col-form-label-lg">Mars Sol (aka Mars Day): </label>
            <input class="form-control form-control-lg" type="number" th:field="${homeDto.marsSol}" min="0"/>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>

    <div th:each="index : ${#numbers.sequence(0,roverData.photos.size(),4)}" class="row" style="margin-bottom: 2em">
        <div class="col-sm" th:if="${index < roverData.photos.size()}">
            <img th:src="${roverData.photos[index].imgSrc}" class="img-fluid"/>
        </div>
        <div class="col-sm" th:if="${index+1 < roverData.photos.size()}">
            <img th:src="${roverData.photos[index+1].imgSrc}" class="img-fluid"/>
        </div>
        <div class="col-sm" th:if="${index+2 < roverData.photos.size()}">
            <img th:src="${roverData.photos[index+2].imgSrc}" class="img-fluid"/>
        </div>
        <div class="col-sm" th:if="${index+3 < roverData.photos.size()}">
            <img th:src="${roverData.photos[index+3].imgSrc}" class="img-fluid"/>
        </div>
    </div>
</div>








<!--<div class="container">-->
<!--    <h2 class="text-align-center">Welcome to the Mars Rover API web page</h2>-->
<!--    <form method="get" action="" id="frmRoverType">-->
<!--        <input type="hidden" th:field="${homeDto.marsApiRoverData}"/>-->
<!--        <div class="btn-group btn-group-lg m-3" role="group" aria-label="Basic mixed styles example">-->
<!--            <button type="button" class="btn btn-secondary" id="marsApicuriosity">Curiosity</button>-->
<!--            <button type="button" class="btn btn-secondary" id="marsApiopportunity">Opportunity</button>-->
<!--            <button type="button" class="btn btn-secondary" id="marsApispirit">Spirit</button>-->
<!--        </div>-->

<!--&lt;!&ndash;        <div th:if="${homeDto.marsApiRoverData == 'opportunity' || homeDto.marsApiRoverData == ''}">&ndash;&gt;-->
<!--&lt;!&ndash;            <div th:text="${validCameras.get('opportunity)}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <p th:text="${roverData}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;    <img th:each="photo : ${roverData.photos}" th:src="${photo.imgSrc}">&ndash;&gt;-->
<!--&lt;!&ndash;input for mars sol (marsian day)&ndash;&gt;-->
<!--       <div class="row gy-2 gx-3 align-items-center mb-2">-->
<!--           <div class="col-lg-4 col-md-4 col-sm-12">-->
<!--               <label class="col-form-label col-form-label-lg" ><h5>Mars Sol (a.k.a Mars Day)</h5></label>-->
<!--               <input type="number" class="form-control"th:field="${homeDto.marsSol}" min="0" value="1">-->
<!--           </div>-->
<!--           <div class="col-auto col-md-4">-->
<!--               <div class="form-check">-->
<!--                   <input class="form-check-input"  type="checkbox" th:field="${homeDto.cameraFhaz}">-->
<!--                   <label class="form-check-label">-->
<!--                       Front Hazard Avoidance Camera-->
<!--                   </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                   <input class="form-check-input" id="cameraRhaz1" type="checkbox" th:field="${homeDto.cameraRhaz}">-->
<!--                   <label class="form-check-label" for="cameraRhaz1" >-->
<!--                       Rear Hazard Avoidance Camera-->
<!--                   </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                   <input class="form-check-input" id="cameraMast1" type="checkbox" th:field="${homeDto.cameraMast}">-->
<!--                   <label class="form-check-label"  for="cameraMast1">-->
<!--                       Mast Camera-->
<!--                   </label>-->
<!--               </div>-->
<!--           </div>-->
<!--           <div class="col-auto col-md-4">-->

<!--               <div class="form-check">-->
<!--                   <input class="form-check-input" id="cameraChemcam1" type="checkbox" th:field="${homeDto.cameraChemcam}">-->
<!--                   <label class="form-check-label" for="cameraChemcam1">-->
<!--                       Chemistry and Camera Complex-->
<!--                   </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                   <input class="form-check-input" id="cameraMahli1" type="checkbox" th:field="${homeDto.cameraMahli}">-->
<!--                   <label class="form-check-label" for="cameraMahli1">-->
<!--                       Mars Hand Lens Imager-->
<!--                   </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                   <input class="form-check-input" id="cameraMardi1" type="checkbox" th:field="${homeDto.cameraMardi}">-->
<!--                   <label class="form-check-label" for="cameraMardi1" >-->
<!--                       Mars Descent Imager-->
<!--                   </label>-->
<!--               </div>-->
<!--               -->
<!--           </div>-->
<!--           <div class="col-auto">-->
<!--               <div class="form-check">-->
<!--                   <input class="form-check-input" id="cameraNavcam1"  type="checkbox" th:field="${homeDto.cameraNavcam}">-->
<!--                   <label class="form-check-label" for="cameraNavcam1">-->
<!--                       Navigation Camera-->
<!--                   </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                   <input class="form-check-input" id="cameraPancam1" type="checkbox" th:field="${homeDto.cameraPancam}">-->
<!--                   <label class="form-check-label" for="cameraPancam1">-->
<!--                       Panoramic Camera-->
<!--                   </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                   <input class="form-check-input" id="cameraMinites1"  type="checkbox" th:field="${homeDto.cameraMinites}">-->
<!--                   <label class="form-check-label" for="cameraMinites1">-->
<!--                       Miniature Thermal Emission Spectrometer-->
<!--                   </label>-->
<!--               </div>-->
<!--           </div>-->
<!--           <div class="mt-5">-->
<!--               <button type="submit" class="btn btn-primary btn-lg">Submit</button>-->
<!--           </div>-->
<!--       </div>-->
<!--    </form>-->
<!--    <div class="container">-->
<!--&lt;!&ndash;        <h2 th:text="${roverData.photos[0].earthDate}"></h2>&ndash;&gt;-->
<!--        <div th:each="index: ${#numbers.sequence(0,roverData.photos.size(),4)}" class="row">-->
<!--            <div class="col-sm" th:if="${index < roverData.photos.size()-1}">-->
<!--                <img th:src="${roverData.photos[index].imgSrc}" class="img-fluid mb-4" alt="...">-->
<!--            </div>-->
<!--            <div class="col-sm" th:if="${index+1 < roverData.photos.size()-1}">-->
<!--                <img th:src="${roverData.photos[index+1].imgSrc}" class="img-fluid mb-4" alt="...">-->
<!--            </div>-->
<!--            <div class="col-sm" th:if="${index+2 < roverData.photos.size()-1}">-->
<!--                <img th:src="${roverData.photos[index+2].imgSrc}" class="img-fluid mb-4" alt="...">-->
<!--            </div>-->
<!--            <div class="col-sm" th:if="${index+3 < roverData.photos.size()-1}">-->
<!--                <img th:src="${roverData.photos[index+3].imgSrc}" class="img-fluid mb-4" alt="...">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<script type="text/javascript" src="js/index.js"></script>

</body>
</html>